.root {
  @apply fixed z-40 transition-all duration-150;
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  border: 1px solid transparent;
}

.nav {
  @apply relative flex flex-row justify-between;
  padding: 1rem 0;
}

.navMenu {
  @apply hidden ml-10 space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer;
  color: #fff;
  font-weight: 500;
  font-size: 0.65rem;
  margin-left: 30px !important;
  margin-right: 0 !important;

  &:first-child {
    margin-left: 0 !important;
  }
}

.link:hover {
  color: #fff;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;
  position: relative;
  top: 1px;
}

.logo path {
  fill: #fff;
  @apply transition ease-in-out duration-75;
}
