.control {
  position: absolute;
  left: 25px;
  bottom: -10px;
  z-index: 1;
}

.leftControl,
.rightControl {
  width: 20px;
  height: 20px;
  padding: 20px 15px;
  transition: opacity 0.3s ease;
}

.leftControl:hover,
.rightControl:hover {
  opacity: 0.5;
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.leftControl {
  margin-right: -1px;
}
