.body {
  @apply text-base leading-5 max-w-6xl mx-auto;
  font-size: 0.75rem;
}

.heading {
  @apply text-5xl pt-1 pb-2 font-semibold tracking-wide cursor-pointer mb-2;
}

.pageHeading {
  @apply pt-1 pb-4 text-2xl leading-7 font-bold tracking-wide;
}

.sectionHeading {
  font-weight: 500;
  color: var(--text-primary);
  font-size: 1.25rem;
  padding-bottom: 10px;
}
