@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');
@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

.Navbar_root__2kbI9.shadow-magical {
  background: rgba(255, 255, 255, 0.98);
  border: 1px solid #fafafa;
  box-shadow: none !important;
}

#g .Navbar_root__2kbI9,
#s .Navbar_root__2kbI9,
#b .Navbar_root__2kbI9 {
  background-color: rgba(255, 255, 255, 0.98) !important;
}

.Navbar_root__2kbI9.shadow-magical .Navbar_link__3Blki,
#g .Navbar_link__3Blki,
#s .Navbar_link__3Blki,
#b .Navbar_link__3Blki {
  color: #000 !important;
}

.Navbar_root__2kbI9.shadow-magical .Navbar_logo__26S5Y path,
#g .Navbar_logo__26S5Y path,
#s .Navbar_logo__26S5Y path,
#b .Navbar_logo__26S5Y path {
  fill: #000 !important;
}

.shop-btn {
  font-size: 0.65rem;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
  display: inline-block;
}

.productCard {
  transform: scale(1.2);
  transform-origin: left bottom;
  background-color: transparent !important;
  margin-bottom: -5px;
}

.productCard * {
  background-color: transparent !important;
}
