@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');
@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

.Navbar_root__2kbI9.shadow-magical {
  background: rgba(255, 255, 255, 0.98);
  border: 1px solid #fafafa;
  box-shadow: none !important;
}

.Navbar_root__2kbI9.shadow-magical .Navbar_link__3Blki {
  color: #000;
}

.Navbar_root__2kbI9.shadow-magical .Navbar_logo__26S5Y path {
  fill: #000;
}

.shop-btn {
  font-size: 0.65rem;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
  display: inline-block;
}
