.root {
  @apply border-b border-accent-2 py-4 flex flex-col outline-none;
}

.header {
  @apply flex flex-row items-center;
}

.header .label {
  @apply text-base font-medium;
  font-size: 0.85rem;
}

.content {
  @apply pt-3 overflow-hidden pl-8;
  margin-left: auto;
  font-size: 0.75rem;
}

.icon {
  @apply mr-3 text-accent-6;
  margin-left: -6px;
  transition: transform 0.2s ease;
}

.icon.open {
  transform: rotate(90deg);
}
